<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 header">
      <img class="logo" src="img/yasdapp.png" alt="Yasdapp logo" />
      <h1><%- __('pages.encrypt.midHeader.yasdapp') %></h1>
    	<h2><%- __('pages.encrypt.midHeader.slogan') %></h2>
    </div>
  </div>
</div>

<div class="container">
  <fieldset class="row about">
  <!-- 3 columnas -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3><%= __('pages.encrypt.about.q1_howWorks') %></h3>
      <p><%- __('pages.encrypt.about.a1') %></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3><%= __('pages.encrypt.about.q2_whyUse') %></h3>
      <p><%- __('pages.encrypt.about.a2') %></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <h3><%= __('pages.encrypt.about.q3_installSoftware') %></h3>
      <p><%- __('pages.encrypt.about.a3') %></p>
    </div>

  <!-- 2 columnas -->
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h3><%= __('pages.encrypt.about.q4_fileDownloaded') %></h3>
        <p><%- __('pages.encrypt.about.a4') %></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h3><%= __('pages.encrypt.about.q5_needObscure') %></h3>
        <p><%- __('pages.encrypt.about.a5') %></p>
      </div>

  <!-- 1 columna -->
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h3><%= __('pages.encrypt.about.q6_downloadAuto') %></h3>
        <p><%- __('pages.encrypt.about.a6') %></p>
      </div>
        
  <!-- 1 columna -->
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h3><%= __('pages.encrypt.about.q7_rightPass') %></h3>
        <p><%- __('pages.encrypt.about.a7') %></p>
      </div>
            
  <!-- 1 columna -->
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h3><%= __('pages.encrypt.about.q8_sendPass') %></h3>
        <p><%- __('pages.encrypt.about.a8') %></p>
      </div>
    
  <!-- 2 columnas -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h3><%= __('pages.encrypt.about.q9_encryption') %></h3>
      <p><%- __('pages.encrypt.about.a9') %></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h3><%= __('pages.encrypt.about.q10_aesKey') %></h3>
      <p><%- __('pages.encrypt.about.a10') %></p>
    </div>
  
  <!-- 1 columnas -->
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3><%= __('pages.encrypt.about.q11_passphrase') %></h3>
      <p><%- __('pages.encrypt.about.a11') %></p>
    </div>
  </fieldset>
</div>


