<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script -->
<script type="text/javascript" src="/js/main.min.js"></script>
<!-- script type="text/javascript" src="/js/aes.js"></script>
<script type="text/javascript" src="/js/passphraseGenerator.js"></script>
<script type="text/javascript" src="/js/strengthMeter.js"></script>
<script type="text/javascript" src="/js/FileSaver.min.js"></script -->

<div class="container-fluid footer">
  <div class="row footer-row">
    <div class="col-xs-6">
      <p class="right">
        <%- __('pages.footer.made_in') %>
        <a href="https://twitter.com/gbuszmicz" class="footer-link" target="_blank">@gbuszmicz</a>
      </p>
    </div>
    <div class="col-xs-6">
      <p class="left">
        <%= __('pages.footer.get_in_touch') %>
        <a href="https://twitter.com/yasdapp" class="footer-link" target="_blank">@yasdapp</a>
      </p>
    </div>
  </div>
</div>
