*{
	margin:0;
	padding:0;
}
html { 
	overflow:hidden;
}
section, footer, header, aside {
	display: block;
}

strong {
	font-weight: 600;
}
body{
	font-family: 'Raleway', sans-serif; 
	font-weight: 400;
	color: #363a43;
	width:100%;
	height:100%;
	position:absolute;
	overflow: auto;
  background-color: #E2F4FF;
}
.button {
	background-color: rgba(7, 109, 140, 0.9);
  width: 310px;
  height: 57px;
  text-align: center;
  text-decoration: none !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 4px;
  display: block;
  line-height: 57px;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.08);
  cursor: pointer;
  font-size: 2rem;
  margin: 35px auto;
  opacity: 0.9;
}
.button:hover {
	opacity: 1;
}
.encrypt-passphrase {
	position: relative;
  text-align: center;
  left: 0;
  top: 105%;
  width: 100%;
}
.progress {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.progress-text {
	margin-top: -39px;
}
.upload {
	position: relative;
  min-height: 20rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 70rem;
  margin: 0 auto;
  padding: 5rem 0rem 5rem;
  background: rgba(7, 109, 140, 0.9);
  color: #FFF;
  border: .25rem dashed #FFF;
  -webkit-border-radius: .9375rem;
  border-radius: .25rem;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out, border-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, border-color 0.2s ease-out;
  -o-transition: color 0.2s ease-out, border-color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out, border-color 0.2s ease-out;
  transition: color 0.2s ease-out, border-color 0.2s ease-out;
}
.upload.error {
  background: rgba(223, 1, 1, 0.8);
  color: #FFF;
  border: .25rem dashed #FFF;
}
.upload p {
  font-size: 2rem;
  font-weight: 600;
	margin: 0;
  text-align: center;
}
.upload p small {
  font-size: 70%;
  font-weight: 400;
}
.upload p small strong {
  font-weight: 600;
}
.upload p.smaller {
  margin-top: -.9rem;
  font-weight: 400;
}
.upload p.smaller small {
  font-size: 60%;
}
.upload.error p {
  display: none;
}
.upload.error p.error-messages {
  display: block;
  margin-top: 2rem;
  margin-bottom: -2rem;
}
.upload.error p.sub-error-messages {
  font-size: 85%;
  margin-top: 2rem;
  display: block;
  font-weight: 400;
}
.upload p.error-messages,
.upload p.sub-error-messages {
  display: none;
}
.upload.is-dragover {
  background: rgba(255,255,255,0.6);
  color: #000;
  border: .25rem dashed #000;
}
.upload figure {
  margin-top: -2rem;
  font-size: 4rem;
  display: block;
  text-align: center;
}
.progress .progress-bar {
  background-color: rgba(7, 109, 140, 0.9);
}
.progress.error .progress-bar {
  background-color: rgba(223, 1, 1, 0.9);
}
.progress.complete .progress-bar {
  background-color: #0AC495;
}
.results {
  display: none;
  position: relative;
  z-index: 6;
  margin: 2rem auto 1rem;
  padding: .75rem;
  border: .1625rem solid #adaeb3;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
  background-color: #fff;
  max-width: 70rem;
  -webkit-animation: expandmargin .2s ease-out 0s;
  -moz-animation: expandmargin .2s ease-out 0s;
  -o-animation: expandmargin .2s ease-out 0s;
  -ms-animation: expandmargin .2s ease-out 0s;
  animation: expandmargin .2s ease-out 0s;
}
div.results ul li:before, div.results ul li:after {
  content: "";
  display: table;
}
div.results ul li:after {
  clear: both;
}
ul#output-list li .file-info, 
ul#output-list li .progress, 
ul#output-list li .actions {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#output-list {
  list-style-type: none;
  margin-bottom: 0;
}
li.selected-file {
  display: block;
  margin: .25rem;
  padding: 0 .8rem;
  background: #f0f0f0;
  border: .1625rem solid #ddd;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
  font-weight: bold;
  line-height: 2.95rem;
  color: #363a43;
  height: 2.95rem;
}
ul#output-list li .file-info {
  width: 50%;
  padding: 0 8rem 0 0;
  font-size: 1.4rem;
  text-align: left;
}
ul#output-list li .file-info .file-size {
  float: right;
  margin-left: .5rem;
  margin-right: -7.5rem;
  font-weight: 400;
}
div.progress {
  margin: 0;
  border: 0.15rem solid #ddd;
  -webkit-border-radius: .9375rem;
  border-radius: .9375rem;
  background-color: #fff;
  height: 2.18rem;
  line-height: 2.18rem;
  margin: 3px 0 3px 0;
}
ul#output-list li .progress {
	width: 40%;
}
div.progress.waiting:after,
div.progress div.progress-bar:after {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  opacity: .95;
}
.encrypted-files .download .progress.waiting:after {
  content: "waiting for passphrase";
}
div.progress.waiting:after {
  content: "ready for encryption";
}
div.progress.encrypting div.progress-bar:after {
  content: "encrypting...";
}
div.progress.uploading div.progress-bar:after {
  content: "uploading...";
}
div.progress.finishing div.progress-bar:after {
  content: "finishing...";
}
div.progress.complete div.progress-bar:after {
  content: "process completed";
}
div.progress.error div.progress-bar:after {
  content: "error";
}
div.progress.decrypting div.progress-bar:after {
  content: "decrypting...";
}
div.progress.downloading div.progress-bar:after {
  content: "downloading...";
}
.download .progress {
  width: 100%;
}
.download.ready .progress {
  width: 83%;
}
.download.ready .actions {
  display: block !important;
}
div.actions.hidden {
  width: 0;
}
div.progress.error li div.actions {
  width: 10%;
}
ul#output-list li .progress.encrypting,
ul#output-list li .progress.uploading,
ul#output-list li .progress.finishing,
ul#output-list li .progress.complete {
  width: 50%;
}
ul#output-list li .progress.error {
  width: 40%;
}      
ul#output-list li .actions {
  width: 10%;
}
ul#output-list li .actions {
  padding: 0 0 0 .5rem;
  text-align: right;
  font-size: 1.8rem;
}
ul#output-list li .actions a.remove-file {
  float: left;
  font-size: 1.3rem;
  color: rgba(223, 1, 1, 0.9);
  text-decoration: underline;
}
.destination-email {
  margin: 5rem auto 1rem;
}
.destination-email,
.passphrase {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.destination-email.error .input-group,
.passphrase.error .input-group {
	border: 2px solid red;
  border-radius: 4px;
}
.destination-email .error-msg,
.passphrase .error-msg {
  font-size: 1.4rem;
  font-weight: 600;
  color: red;
  margin-bottom: 0.5rem;
  display: none;	
}
.destination-email.error .error-msg,
.passphrase.error .error-msg {
	display: block;
}
.input-group-addon {
  background-color: #ddd;
  border: 0;
  font-size: 2rem;
  line-height: 2rem;
}
input[type="email"],
input[ref="password"] {
  padding: 12px 12px;
  font-size: 14px;
  color: #000;
  background-color: #ddd;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 4rem;
  line-height: 4rem;
  border: 0;
}
input[type="email"],
input[ref="password"] {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.link {
  text-align: right;
  float: right;
  font-size: 13px;
  margin-top: 5px;
  color: rgba(7, 109, 140,1);
  font-weight: 400;
  text-decoration: underline;
}
.service {
  margin: 5rem auto 5rem;
} 
h1 {
  margin: 2.5rem 0 .5rem;
  font-size: 3.4rem;
  font-family: "Raleway",sans-serif;
  font-weight: 400;
  line-height: 3rem;
  text-rendering: optimizeLegibility;
  letter-spacing: -.015em;
  text-indent: -.15rem;
}
h2 {
  margin: 1.25rem 0;
  font-size: 2.1rem;
  font-family: "Raleway",sans-serif;
  font-weight: 400;
  letter-spacing: -.025em;
  line-height: 125%;
  text-indent: -.05rem;
}
.about {
	margin-top: 1rem;
}
.about p {
  color: #000000;
  text-shadow: 0 .125rem 0 rgba(255,255,255,0.6);
}
.about h3 {
  font-size: 1.9rem;
  font-weight: 600;
}
.about a {
  color: rgba(7, 109, 140,1);
  font-weight: 600;
  text-decoration: underline;
}
.strength-meter {
  display: none;
  background-color: white;
  padding: 1rem 2rem .2rem;
  margin-top: .5rem;
  border-radius: 4px; 
}
.strength-meter #possibilities {
  font-weight: 600;
}
.strength-meter #rates {
  font-weight: 600;
  margin-top: -1rem;
}
.button i {
  margin-left: -10px;
  margin-right: 10px;
  font-size: 2.5rem;
}
.success-message {
  margin: 5rem auto 18rem;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.success-icon {
  text-align: center;
}
.success-icon figure {
  font-size: 11rem;
  color: #0AC495;
  border-radius: 50%;
}
.success-text h2 {
  text-align: center;
  margin-top: -.04rem;
}
.success-text p {
  font-size: 1.56rem;
}
.success-text a {
  font-weight: 600;
  text-decoration: underline;
}
.success-text span {
  font-weight: 600;
  font-size: 2rem;
}
.sucess-link {
  font-size: 14px;
  margin-top: 5px;
  color: rgba(7, 109, 140,1) !important;
  font-weight: 400;
  text-decoration: underline;
}
.encrypted-files {
  position: relative;
  z-index: 6;
  margin: 6rem auto 1rem;
  padding: .75rem;
  border: .1625rem solid #adaeb3;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
  background-color: #fff;
  max-width: 70rem;
  -webkit-animation: expandmargin .2s ease-out 0s;
  -moz-animation: expandmargin .2s ease-out 0s;
  -o-animation: expandmargin .2s ease-out 0s;
  -ms-animation: expandmargin .2s ease-out 0s;
  animation: expandmargin .2s ease-out 0s;
}
.encrypted-files li {
  display: block;
  margin: .25rem;
  padding: 0 .8rem;
  background: #f0f0f0;
  border: .1625rem solid #ddd;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
  font-weight: 600;
  color: #363a43;
  margin-bottom: 1rem;
}
.encrypted-files li:last-child {
  margin-bottom: 0.25rem;
}
.encrypted-files li .file-icon {
  font-size: 7rem;
  line-height: 10rem;
  text-align: center;
  color: rgba(7, 109, 140, 0.9);
}
.encrypted-files li .file-info {
  text-align: left;
  margin-top: .7rem;
  font-weight: 400;
}
.encrypted-files li .file-info .file-name span,
.encrypted-files li .file-info .file-size span, 
.encrypted-files li .file-info .file-type span {
  font-weight: 600;
}
.decrypt-actions .button {
  margin: 20px auto;
}
.msg-actions {
	display: none;
	position: relative;
  z-index: 6;
  margin: auto;
  max-width: 70rem;
  text-align: right;
}
.msg-actions a {
	font-weight: 600;
  color: rgba(223, 1, 1, 0.9);
}
.success-new-messages {
	text-align: center;
  margin-top: 1rem;
}
.success-remove-text {
	text-align: center;
}
/*.success-remove-text h2 {
	margin-top: 2rem;
}*/
.success-remove-icon {
	text-align: center;
}
.success-remove-icon figure {
	font-size: 8rem;
	color: #0AC495;
}
.weak {
	font-weight: 400;
}
.container-fluid .header {
	background: rgb(65, 66, 65);
  color: #f6f7f8;
  padding: 30px;
  text-align: center;
}
.alert {
  border: none;
  border-radius: 0px;
}
/**
 * Footer
 */
.footer {
  color: #f6f7f8;
  margin-top: 40px;
  font-size: 12px;
  background-color: #40444f;
  background: -webkit-linear-gradient(top, #40444f, #363a43);
  background: -moz-linear-gradient(top, #40444f, #363a43);
  background: -o-linear-gradient(top, #40444f, #363a43);
  background: -ms-linear-gradient(top, #40444f, #363a43);
  background: linear-gradient(to bottom, #40444f, #363a43);
  text-shadow: -.05rem -.0625rem 0 #202228;
  font-family: "Raleway",sans-serif;
}
body.decrypt .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-row {
  margin: 3px auto;
  padding: 5px 15px;
  line-height: 20px;
  height: 20px;
}
.footer-link {
  font-size: 13px;
  color: #aaa;
  font-weight: 400;
  text-decoration: underline;
}
.footer-link:hover {
  color: #eee;
}
.footer p.right {
  text-align: right;
}
.footer p.left {
  text-align: left;
}